﻿body {
}
.labelStyle { position: absolute; left: 42%; }
.textboxStyle { position: absolute; left: 50%; width: 85px; }
.lastLabelStyle { position: absolute; left: 59%; }
.customTextboxStyle { position: absolute; left: 43%; width: 50px; }
.midCustomLabelStyle { position: absolute; left: 48%; }
.customLastTextboxStyle { position: absolute; left: 50%; width: 50px; }
.customDdlStyle { position: absolute; left: 43%; width: 75px; }
.customLastDdlStyle { position: absolute; left: 52%; width: 75px; }
.midCustomDdlLabelStyle { position: absolute; left: 50%; }
